<h1>Students Edit form</h1>

<% if flash[:errors]%>
    <% flash[:errors].each do |error|%>
        <p style="color: red"><%= error%></p>
    <%end%>
<%end%>

<%= form_with(model: @student, local: true) do |f|%>
    <%= f.label :first_name %>
    <%= f.text_field :first_name%>
    <%= f.label :last_name %>
    <%= f.text_field :last_name%>
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth%>
    <%= f.label :department %>
    <%= f.text_field :department%>
    <br>
    <%= f.label :terms_of_usage%>
    <%= f.check_box("terms_of_usage", :checked => false) %>
    <br><br>
    <%= f.submit%>
<%end%>
<p>Find me in app/views/students/new.html.erb</p>
