<h1><%= @faculty.first_name%>'s Information</h1>
<h2>Genral Details:</h2>
<table border="20px" width="100%">
<thead><th>Faculty Name</th><th>Date Of Birth</th><th>Designation</th></thead>
<tr>
<td ><%= @faculty.first_name%> <%= @faculty.last_name%> </td>
<td><%= @faculty.date_of_birth%></td>
<td><%= @faculty.designation%></td>
</tr>
</table>
<br>
<br>
<h3>Contact Information:</h3>
<ul>
    <li>Email:
        <ul>
            <li><%= @faculty.email%></li>
        </ul>
    </li>
    <li>phone:
        <ul>
            <li><%= @faculty.phone%></li>
        </ul>
    </li>
</ul>
<%= button_to "Destroy Faculty", faculty_path, method: :delete %><br>
<%= button_to "Edit Faculty", edit_faculty_path, method: :get %>


